%header
  .ninehundred
    %div#logo
      %a{:href=>"index.html"}
        Eddie Lee
    %nav
      %ul
        %a{:href=>"index.html"}
          %li Home
        %a{:href=>"resume.html"}
          %li Resume
        %li Code
        %li Camera Roll
        %li Music
      .clear
