%header
  .ninehundred{:style=>"height:70px;"}
    %div#logo{:style=>"height:75px;"}
      %a{:href=>"index.html", :style=>"height:85px;"}
        Eddie Lee
    %nav
      %ul
        %li Home
        %li
          %a{:href=>"resume.html"}
            Resume
        %li
          %a{:href=>"code.html"}
            Code
        %li
          %a{:href=>"photo.html"}
            Photo
        %li Music
      .clear
