- header = File.read('header.haml')
!!! 5
%html
  %head
    // %link{:href=>"http://fonts.googleapis.com/css?family=Julius+Sans+One", :rel=>"stylesheet", :type=>"text/css"}
    // %link{:href=>"http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700", :rel=>"stylesheet", :type=>"text/css"}
    %link{:href=>"bootstrap/css/bootstrap.min.css", :rel=>"stylesheet"}
    %link{:href=>"style.css", :rel=>"stylesheet"}
  %body
    // HAML-RENDERED
    = Haml::Engine.new(header).render
    %div#email
      Code. Eat. Sleep. Repeat.
    .vspacer80
    %div.body-wide
      %div#montage
        %img.main{:src=>"personal-site-montage/main_red.png"}
        %img.im-a-programmer{:src=>"personal-site-montage/im_a_programmer.png"}
        %div.column1
          %div.img
            %div.area
            %div.blackout
            %img{:src=>"personal-site-montage/1.png", :style=>"z-index:3"}
          %div.img
            %div.area
            %div.blackout
            %img{:src=>"personal-site-montage/2.png", :style=>"z-index:2"}
          %div.img
            %div.area
            %div.blackout
            %img{:src=>"personal-site-montage/3.png", :style=>"z-index:1"}
        %div.column2
          %div.img
            %div.area
            %div.blackout
            %img{:src=>"personal-site-montage/4.png", :style=>"z-index:3"}
          %div.img
            %div.area
            %div.blackout
            %img{:src=>"personal-site-montage/5.png", :style=>"z-index:2"}
          %div.img
            %div.area
            %div.blackout
            %img{:src=>"personal-site-montage/6.png", :style=>"z-index:1"}
        %div.column3
          %div.img
            %div.area
            %div.blackout
            %img{:src=>"personal-site-montage/7.png", :style=>"z-index:2"}
          %div.img
            %div.area
            %div.blackout
            %img{:src=>"personal-site-montage/8.png", :style=>"z-index:1"}
        %div.column4
          %div.img
            %div.area
            %div.blackout
            %img{:src=>"personal-site-montage/9.png", :style=>"z-index:3"}
          %div.img
            %div.area
            %div.blackout
            %img{:src=>"personal-site-montage/10.png", :style=>"z-index:2"}
          %div.img
            %div.area
            %div.blackout
            %img{:src=>"personal-site-montage/11.png", :style=>"z-index:1"}
        %div.column5
          %div.img
            %div.area
            %div.blackout
            %img{:src=>"personal-site-montage/12.png", :style=>"z-index:2"}
          %div.img
            %div.area
            %div.blackout
            %img{:src=>"personal-site-montage/13.png", :style=>"z-index:1"}
      .vspacer80{:style=>"background-color: #fff;"}
      .body-wide
      .ninehundred
        %h1
          Portfolio
    .vspacer80
    // .skills-red
    //   Ruby/Rails
    // .skills-orange
    //   Javascript
    // .skills-yellow
    //   CSS
    // .skills-blue
    //   HTML
    // .skills-green
    //   Python
    // .skills-purple
    //   Arduino
    // .skills-pink
    //   Photoshop
    // .skills-grey
    //   PHP
    // .skills-black
    //   Flask
    .body-wide{:style=>"background-color: #fff;"}
      .white-center

        .portfolio-item
          %a{:href=>"https://github.com/eddieberklee/info-stocks"}
            .blackout
          %h2#info-stocks
            info-stocks
          .tags
            .skills-green
              Python
            .skills-orange
              Javascript
          %img{:src=>"portfolio-item/info-stocks.png"}

        .portfolio-item
          %a{:href=>"http://mitm.herokuapp.com"}
            .blackout
          %h2#mitm
            meet-in-the-middle
          .tags
            .skills-black
              Flask
            .skills-orange
              Javascript
            .skills-blue
              HTML
            .skills-yellow
              CSS
          %img{:src=>"portfolio-item/mitm.png"}

        .portfolio-item
          %a{:href=>"https://github.com/eddieberklee/rails-attackontitan"}
            .blackout
          %h2#attackontitan-notifier
            attackontitan-notifier
          .tags
            .skills-green
              Python
          %img{:src=>"portfolio-item/attackontitan-notifier.png"}

        .portfolio-item
          %a{:href=>"http://www.byteclothing.com"}
            .blackout
          %h2#byteclothing
            byteclothing
          .tags
            .skills-grey
              PHP
            .skills-orange
              Javascript
            .skills-blue
              HTML
            .skills-yellow
              CSS
          %img{:src=>"portfolio-item/byteclothing.png"}

        .portfolio-item
          %a{:href=>"http://www.wooklee.com"}
            .blackout
          %h2#wooklee
            wooklee
          .tags
            .skills-orange
              Javascript
            .skills-blue
              HTML
            .skills-yellow
              CSS
          %img{:src=>"portfolio-item/wooklee.png"}

        .portfolio-item
          %a{:href=>"http://prizmportfolio.appspot.com/"}
            .blackout
          %h2#prizm-portfolio
            prizm-portfolio
          .tags
            .skills-green
              Python
            .skills-orange
              Javascript
            .skills-blue
              HTML
            .skills-yellow
              CSS
          %img{:src=>"portfolio-item/prizm-portfolio.png"}

        .portfolio-item
          %a{:href=>"http://www.youtube.com/watch?v=ugli6o-rpHE"}
            .blackout
          %h2#tele-bears
            "tele-bears"
          .tags
            .skills-purple
              Arduino
          %img{:src=>"portfolio-item/telebears.png"}

        .portfolio-item
          %a{:href=>"http://www.youtube.com/watch?v=6Tk0b4_tHYM"}
            .blackout
          %h2#auto-doorlock
            auto-doorlock
          .tags
            .skills-purple
              Arduino
          %img{:src=>"portfolio-item/no-thumbnail.png"}

        .portfolio-item
          %a{:href=>"http://www.youtube.com/watch?v=MrvD4HbyGdY"}
            .blackout
          %h2#crawling-dog
            crawling-dog
          .tags
            .skills-purple
              Arduino
          %img{:src=>"portfolio-item/no-thumbnail.png"}

        .portfolio-item
          %a{:href=>"https://github.com/eddieberklee/cs169-group29"}
            .blackout
          %h2#pta-organizer
            pta-organizer
          .tags
            .skills-red
              Ruby/Rails
            .skills-orange
              Javascript
            .skills-blue
              HTML
            .skills-yellow
              CSS
          %img{:src=>"portfolio-item/no-thumbnail.png"}

        .portfolio-item
          %a{:href=>"https://github.com/eddieberklee/manga-reader-downloader"}
            .blackout
          %h2#manga-reader-downloader
            manga-reader-downloader
          .tags
            .skills-green
              Python
          %img{:src=>"portfolio-item/no-thumbnail.png"}

        .portfolio-item
          %a{:href=>"http://landskape.herokuapp.com/"}
            .blackout
          %h2#landskape
            landskape
          .tags
            .skills-red
              Ruby/Rails
            .skills-orange
              Javascript
            .skills-blue
              HTML
            .skills-yellow
              CSS
          %img{:src=>"portfolio-item/landskape_screenshot.png"}

        .portfolio-item
          %a{:href=>"#"}
            .blackout
          %h2#xkcd-downloader
            xkcd-downloader
          .tags
            .skills-green
              Python
          %img{:src=>"portfolio-item/no-thumbnail.png"}

        .clear

        .vspacer40
        #skills
          %section
            %h2
              Languages
            .language
              .language-title
                HTML5 +
                %a{:href=>"http://www.haml-lang.com"}
                  Haml
              %div.progress.progress-success.green
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title
                CSS3 +
                %a{:href=>"http://www.sass-lang.com"}
                  Sass
              %div.progress.progress-success.green
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title
                JavaScript +
                %a{:href=>"http://www.jquery.com"}
                  jQuery
              %div.progress.progress-success.green
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title Python
              %div.progress.progress-success.green
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title Ruby
              %div.progress.progress-success.green
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title PHP
              %div.progress.progress-warning.yellow
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title Perl
              %div.progress.progress-warning.yellow
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title Java
              %div.progress.progress-warning.yellow
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title C/C++
              %div.progress.progress-warning.yellow
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title AppleScript
              %div.progress.progress-danger.red
                %div.bar{:style=>"width:100%"}
              .clear
          .vspacer40
          %section
            %h2
              Frameworks
            .language
              .language-title
                %a{:href=>"http://twitter.github.com/bootstrap/"}
                  Bootstrap
                +
                %a{:href=>"http://960.gs"}
                  960.gs
              %div.progress.progress-success.green
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title
                %a{:href=>"http://rubyonrails.org"}
                  Ruby on Rails
              %div.progress.progress-success.green
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title
                PHP +
                %a{:href=>"http://www.codeigniter.com"}
                  CodeIgniter
              %div.progress.progress-warning.yellow
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title
                %a{:href=>"http://www.sinatrarb.com"}
                  Sinatra
              %div.progress.progress-warning.yellow
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title
                Python +
                %a{:href=>"http://flask.pocoo.org/"}
                  Flask
              %div.progress.progress-warning.yellow
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title
                %a{:href=>"http://nodejs.org"}
                  Node.js
              %div.progress.progress-danger.red
                %div.bar{:style=>"width:100%"}
              .clear
          .vspacer40
          %section
            %h2
              Tools + Other
            .language
              .language-title Vim
              %div.progress.progress-success.green
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title MATLAB
              %div.progress.progress-success.green
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title Photoshop
              %div.progress.progress-success.green
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title Eclipse
              %div.progress.progress-success.green
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title Unix (Fedora + Ubuntu + FreeBSD)
              %div.progress.progress-success.green
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title SVN/Git
              %div.progress.progress-success.green
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title Dreamweaver
              %div.progress.progress-success.green
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title Flash
              %div.progress.progress-warning.yellow
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title Solidworks + AutoCAD
              %div.progress.progress-warning.yellow
                %div.bar{:style=>"width:100%"}
              .clear
            .language
              .language-title InDesign
              %div.progress.progress-danger.red
                %div.bar{:style=>"width:100%"}
              .clear
          .clear
        .vspacer40

    %footer

    #scrolltop
      TOP

    %script{:src=>"jquery-1.8.2.min.js"}
    %script{:src=>"scrolltop.js"}
    %script{:src=>"bootstrap/js/bootstrap.min.js"}
    :javascript
      $(function() {
        // $("#logo").trigger("hover");
        $("div[class^=column] .img").hover(function() {
          $(this).children(".blackout").css('opacity','0');
          // $(this).children(".blackout").hide();
        },function() {
          $(this).children(".blackout").css('opacity','0.7');
          // $(this).children(".blackout").show();
        });
      });


