%header
  .ninehundred{:style=>"height:70px;"}
    %div#logo{:style=>"height:75px;"}
      %a{:href=>"index.html", :style=>"height:85px;"}
        Resume
    %nav
      %ul
        %li Home
        %li Resume
        %li Code
        %li Camera Roll
        %li Music
      .clear
