// sass by eddie 1/7/2013

@import 'sass-mixins/css3-mixins'
@import 'sass-mixins/vspacer-num'

@font-face
  font-family: 'BebasNeueRegular'
  src: url('fonts/BebasNeue-webfont.eot')
  src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype')
  src: url('fonts/BebasNeue-webfont.woff') format('woff')
  src: url('fonts/BebasNeue-webfont.ttf') format('truetype')
  src: url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg')
  font-weight: normal
  font-style: normal
  font-style: normal

.clear
  clear: both

$header-line-height: 81px

$black: #111

header
  width: 100%
  background-color: $black
  height: $header-line-height - 5px
  line-height: $header-line-height

.ninehundred
  width: 900px
  margin: 0 auto

$red: #ED112C
$orange: #EDAA2C
$blue: #e0252a
//$blue: #08c

#logo
  position: relative
  top: 2px
  float: left
  margin-left: -5px
  font-size: 1em
  a
    color: #fff
    text-transform: uppercase
    @include css3-transition(border-bottom-width,0.35s)
    text-decoration: none
    font-family: 'BebasNeueRegular', Arial, sans-serif
    letter-spacing: 1px
    font-size: 8em
    &:hover
      border-bottom: 35px solid #000

#email
  position: absolute
  top: 105px
  left: 130px
  text-transform: uppercase
  z-index: 10
  color: #fff
  @include css3-user-select

h1
  height: 75px
  position: relative
  top: 5px
  margin: 0
  padding: 0
  line-height: 1.2em
  margin-left: -5px

  font-size: 7.65em
  color: #fff
  text-transform: uppercase
  text-decoration: none
  font-family: 'BebasNeueRegular', Arial, sans-serif
  letter-spacing: 1px
  line-height: 0.73em
  height: 70px
  position: relative
  top: -1px

a
  &:hover
    text-decoration: none

nav
  font-family: 'Source Sans Pro', Arial, sans-serif
  font-weight: 200
  font-size: 16px
  color: #fff
  float: right
  text-shadow: 0px 0px 1px rgba(255,255,255,1), 0px 0px 1px rgba(255,255,255,1), 0px 0px 1px rgba(255,255,255,1)

  a
    color: #fff

  ul
    list-style-type: none
    margin: 0
    padding: 0

    li
      width: 100px
      text-align: center
      float: left
      line-height: $header-line-height
      cursor: pointer
      @include css3-transition(all,0.06s)

      &:hover
        background-color: #000

    a
      &:hover
        color: #fff

div.body-wide
  width: 100%
  background-color: $black
  overflow: hidden

div.white-center
  width: 900px
  margin: 0 auto
  background-color: #fff

.blackout
  width: 100%
  height: 100%
  opacity: 0.7
  background-color: #000

  position: absolute

div#montage
  width: 900px
  height: 281px
  margin: 0 auto
  position: relative
  overflow: hidden

  .main
    position: relative
    z-index: 7

  .blackout
    z-index: 8

  .area
    width: 100%
    height: 100%
    position: absolute
    z-index: 10
    cursor: pointer

  .im-a-programmer
    position: absolute
    top: 60px
    left: 345px
    z-index: 9

  .main, .column1, .column2, .column3, .column4, .column5
    float: left
    @include css3-box-shadow(1px, 0px, 4px, rgba(0,0,0,0.5))

  .column1
    width: 122px
    z-index: 5
  .column2
    width: 122px
    z-index: 4
  .column3
    width: 118px
    z-index: 3
  .column4
    width: 118px
    z-index: 2
  .column5
    width: 139px
    z-index: 1

  .column1 .img, .column2 .img, .column3 .img, .column4 .img, .column5 .img
    position: relative
    @include css3-box-shadow(0px, 1px, 4px, rgba(0,0,0,0.5))

.portfolio-item
  width:  200px
  height: 200px
  position: relative
  border: 5px solid #aaa
  float: left
  margin-left: 110px
  margin-top: 80px

  .blackout
    @include css3-transition(all,0.3s)
    opacity: 0

  &:hover .blackout
    opacity: 0.4
  &:hover [class^=skills]
    opacity: 1
  &:nth-of-type(1)
    margin-left: 0
  &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3)
    margin-top: 0
  &:nth-of-type(3n+1)
    margin-left: 0
  h2
    width: 300px
    text-align: right
    position: absolute
    color: #aaa
    font-size: 1.1em
    @include css3-rotation(-90deg)
    text-transform: uppercase
    bottom: 25px
    right: 63px
  .tags
    width: 65px
    position: absolute
    right: 10px
    top: 5px
    z-index: 50
    & > *
      margin-bottom: 5px

.skills-red, .skills-orange, .skills-yellow,
.skills-blue, .skills-green, .skills-purple,
.skills-pink, .skills-grey, .skills-black
  color: #fff
  width: 65px
  height:      15px
  line-height: 15px
  padding: 0 3px
  text-transform: uppercase
  text-align: center
  font-size: 0.7em
  margin-bottom: 5px
  opacity: 0
  @include css3-transition(all,0.2s)
  &:hover
    opacity: 0.9

.skills-red
  background-color: #ff7344
  $red-stroke: #ef6334
  text-shadow: -1px -1px 0 $red-stroke, -1px 1px 0 $red-stroke, 1px -1px 0 $red-stroke, 1px 1px 0 $red-stroke
.skills-orange
  background-color: #ffc146
  $orange-stroke: #efb136
  text-shadow: -1px -1px 0 $orange-stroke, -1px 1px 0 $orange-stroke, 1px -1px 0 $orange-stroke, 1px 1px 0 $orange-stroke
.skills-yellow
  background-color: #fee900
  $yellow-stroke: #eed900
  text-shadow: -1px -1px 0 $yellow-stroke, -1px 1px 0 $yellow-stroke, 1px -1px 0 $yellow-stroke, 1px 1px 0 $yellow-stroke
.skills-blue
  background-color: #23c5ff
  $blue-stroke: #13b5ef
  text-shadow: -1px -1px 0 $blue-stroke, -1px 1px 0 $blue-stroke, 1px -1px 0 $blue-stroke, 1px 1px 0 $blue-stroke
.skills-green
  background-color: #8de45c
  $green-stroke: #7dd44c
  text-shadow: -1px -1px 0 $green-stroke, -1px 1px 0 $green-stroke, 1px -1px 0 $green-stroke, 1px 1px 0 $green-stroke
.skills-purple
  background-color: #9f98ec
  $purple-stroke: #8f88dc
  text-shadow: -1px -1px 0 $purple-stroke, -1px 1px 0 $purple-stroke, 1px -1px 0 $purple-stroke, 1px 1px 0 $purple-stroke
.skills-pink
  background-color: #dc9fe5
  $pink-stroke: #cc8fd5
  text-shadow: -1px -1px 0 $pink-stroke, -1px 1px 0 $pink-stroke, 1px -1px 0 $pink-stroke, 1px 1px 0 $pink-stroke
.skills-grey
  background-color: #c2c2c2
  $grey-stroke: #b2b2b2
  text-shadow: -1px -1px 0 $grey-stroke, -1px 1px 0 $grey-stroke, 1px -1px 0 $grey-stroke, 1px 1px 0 $grey-stroke
.skills-black
  background-color: #656565
  $black-stroke: #555555
  text-shadow: -1px -1px 0 $black-stroke, -1px 1px 0 $black-stroke, 1px -1px 0 $black-stroke, 1px 1px 0 $black-stroke

#skills
  section
    position: relative
    background-color: $black
    margin-left: 26px
    padding-left: 60px
    // Rounded corners somehow just didn't fit in.
    // border-radius: 8px

    padding-top: 20px
    padding-bottom: 10px
  h2
    width: 250px
    color: $black
    font-size: 2.7em
    @include css3-rotation(-90deg)
    text-align: right
    font-family: 'BebasNeueRegular'

    position: absolute
    top: 105px
    left: -136px
    text-transform: uppercase

    &:first-of-type
      margin-top: 0
  .language
    clear: both
    margin-bottom: 10px
    margin-left: 20px

    .progress
      margin-bottom: 0

    .language-title, .progress.green, .progress.yellow, .progress.red
      float: left

    .language-title
      width: 200px
      color: #fff
      font-size: 1.2em
      font-family: 'BebasNeueRegular'
      margin-right: 7px
      text-align: right

    .progress.green
      width: 400px
    .progress.yellow
      width: 270px
    .progress.red
      width: 140px

#scrolltop
  font-family: 'BebasNeueRegular'
  font-size: 1.5em

  $s: 50px
  width: $s
  height: $s
  line-height: $s + 4px
  text-align: center

  color: #fff
  background-color: $black

  position: fixed
  bottom: 10px
  right: 10px
  cursor: pointer








